page-home {

  .weather {

    .icon {
      margin: auto;
    }

    .temperature {
      font-size: 2em;
      font-weight: 800;
      margin: auto;
    }

    .location {
      font-size: 2em;
      font-weight: 800;
      margin: auto;
    }
  }

  .clothing {
    width: 105px;
    height: 105px;
  }
  
  .main-display {

    background-color: lavender;

  }

  .slider {
    height: 200px; /* slider height you want */
  }
  .slider-slide {
    height: 50%;
  }


}


