<ion-header>
  <ion-navbar>
    <ion-title>
      A Weather App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="weather-report">

    <div class="stat">
      <div class="label">Location:</div>
      <div class="value" *ngIf="weather"> {{weather.name}}</div>
    </div>


    <div class="stat">
      <div class="label">Temperature:</div>
      <div class="value" *ngIf="weather">{{temp_str}}</div>
    </div>

    <div class="stat">
      <div class="label">Weather:</div>
      <div class="value" *ngIf="weather">{{weather.weather[0].description}}</div>
    </div>


    <!--<div class="stat">Weather: {{weather.weather[0].description}}</div>-->

    <div class="stat">
      <div class="label">Wind:</div>
      <div class="value" *ngIf="weather">{{weather.wind.speed}}</div>
    </div>
  </div>

   <button ion-button outline item-right= icon-left (click)="showSettingsPage()"><ion-icon name="settings"></ion-icon>&nbsp; Settings</button>

  <button ion-button outline item-right= icon-left (click)="toCel()">
    <ion-icon name="sunny"></ion-icon>
    &nbsp; Celsius
  </button>

  <button ion-button outline item-right= icon-left (click)="toFah()">
    <ion-icon name="sunny"></ion-icon>
    &nbsp; Fahrenheit
  </button>



  <img src="../../assets/clothing/dungarees-outline.png">
  <img src="../../assets/weather/cloud-fog-moon.svg">

  <!--<ion-slides pager>-->

    <!--<ion-slide style="background-color: lightgrey">-->
      <!--<h2>Top</h2>-->
    <!--</ion-slide>-->

    <!--<ion-slide style="background-color: lightgrey">-->
      <!--<h2>Bottom</h2>-->
    <!--</ion-slide>-->

    <!--<ion-slide style="background-color: lightgrey">-->
      <!--<h2>Hats and Shoes</h2>-->
    <!--</ion-slide>-->

  <!--</ion-slides>-->




</ion-content>
