
page-home {

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .weathericon{
    min-width: 30%;
    min-height: 20vh;
    margin: auto;
  }
  .windicon{
    width: calc(0.5px + 5vmin);
    height: calc(0.5px + 5vmin);
    background-color: transparent;
    fill: white;

  }
  .temRange{
    letter-spacing: 0.05px;
    background-color: transparent;
    color: white;
    font-size: calc(0.1em + 3.3vmin);
    //margin-left: 10%;
  }

  .windspeed{
    letter-spacing: 0.5px;
    background-color: transparent;
    color: white;
    font-size: calc(0.1em + 3.3vmin);}

  .location {
    letter-spacing: 2px;
    background-color: transparent;
    color: white;
    font-size: calc(0.1em + 3.3vmin);
    padding-top:3%;

  }

  .weather {
    .temperature{
      position: absolute;
      top:50%;
      transform: translate(50%, -50%);
      letter-spacing: 3px;
      color: white;
      font-size: calc(0.4em + 7vmin);
      margin:auto;
      background-color: transparent;
      }
    }
  }

  .top {
    height: 100px;
  }

  .bottom{
    height: 100px;
  }
  .accessories{
    height: 70px;
  }
  .main-display{
    background-color: steelblue;
  }
  .slider {
    height: 200px;
  }
  .slider-slide {
    height: 50%;
  }







